@using hand2hand.Models
@model ProductsListVIewModel

@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

@foreach (var product in Model.Products)
{
    @Html.Partial("_ProductsViewPartial", product)
}
<div class="btn-group pull-right">
@Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, category = Model.CurrentCategory }))
</div>

